#elem1 {
	border-width: 3px;
	border-style: ridge;
	border-color: blue;
	width: 300px;
	height: 100px;
}

#elem2 {
	border-width: 4px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 100px;
}

#elem3 {
	border-width: 2px;
	border-style: dashed;
	border-color: orange;
	width: 300px;
	height: 100px;
}

#elem4 {
	border-width: 8px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 100px;
}